<style>
#social_nav ul li {
padding : 0px
}
.fb_ltr{
width:280px !important;
}
.fb-like fb_edge_widget_with_comment fb_iframe_widget>span {
width:0px !important;

}
#social_nav {
  width: 451px !important;
  height: 40px !important;
}
span#u_0_3{
color : white !important;
}
</style>

<div id="social_nav" style="background: blue;">
  
 <ul>
  <% if Spree::Config.facebook_button %>
      <li class="facebook" style = "width: 280px;">
        <%= render :partial => 'spree/social/facebook' %>
      </li>
    <% end %>
    
    <% if Spree::Config.twitter_button %>
      <li class="twitter">
        <%= render :partial => 'spree/social/twitter' %>
      </li>
    <% end %>
    <% if Spree::Config.gplus_button %>
      <li class="gplus">
        <%= render :partial => 'spree/social/gplus' %>
      </li>
    <% end %>
  </ul>
 
</div>
